{% extends "base.twig" %}

{% block content %}
    <main>
        <h1>{{ title }}</h1>
        {{ content|raw }}

        <img src="{{ photo }}" />
        <h3>Price: {{ price }}</h3>
        <h3>Type: {{ type }}</h3>
    </main>
{% endblock %}
